/* CV specific styles */
body {
    background: #dfe0e1;
}
.sidebar {
    color: #fff;
    min-height: 100vh
}

.sidebar-section {
    margin-bottom: 2rem
}

.sidebar-section h3,
.sidebar-section .h3 {
    padding: .5rem;
    text-transform: uppercase
}
